*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: #e5e7eb;
  font-family: Roboto, sans-serif;
  font-size: 18px;
}

header, section, footer {
  display: flex;
  justify-content: center;
}

.content {
  margin-inline: 32px;
  max-width: 1000px;
}

/* Colors */
.navy-blue-background {
  background-color: #1f2937;
}

.light-gray-background {
  background-color: #e5e7eb;
}

.sky-blue-background {
  background-color: #3882f6;
}

.strong-white-text {
  color: #f9faf8;
}

.black-text {
  color: #1f2937;
}

/* Reusables */
a {
  color: #f9faf8;
  text-decoration: none;
}

a.button {
  border-radius: 8px;
  display: inline-block;
  padding: 8px 32px;
}

/* Header */
header {
  padding: 16px;
}

header .content {
  align-items: baseline;
  column-gap: 48px;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 16px;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  text-wrap: nowrap;
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

li {
  list-style: none;
}

.navbar a {
  font-weight: 500;
  text-wrap: nowrap;
}

/* Hero */
.hero {
  padding-block: 100px;
}

.hero .content {
  align-items: center;
  column-gap: 18px;
  display: flex;
  flex-wrap: wrap-reverse;
  justify-content: center;
  row-gap: 48px;
}

.hero .message {
  align-items: start;
  display: flex;
  flex-direction: column;
  gap: 12px;
  max-width: 400px;
}

.hero h2 {
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
}

.hero img {
  border-radius: 16px;
}

/* Features */
.features {
  padding-block: 50px;
  text-align: center;
}

.features .content {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.features h2 {
  font-size: 36px;
  font-weight: 900;
}

.feature-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px;
  justify-content: center;
}

.feature {
  max-width: 167px;
}

.feature img {
  border: 4px solid #3882f6;
  border-radius: 16px;
  margin-bottom: 4px;
}

/* Testimonial */
.testimonial {
  padding-block: 100px;
}

.testimonial .content {
  margin-inline: 48px;
  max-width: 750px;
}

.testimonial .quote {
  font-size: 36px;
  font-style: italic;
  font-weight: 250;
  margin-bottom: 16px;
}

.testimonial .attribution {
  font-weight: bold;
  margin-right: 32px;
  text-align: right;
}

/* Final call-to-action */
.final-call-to-action {
  padding-block: 100px;
}

.final-call-to-action .content {
  align-items: center;
  border-radius: 16px;
  display: flex;
  gap: 32px;
  justify-content: space-evenly;
  padding: 50px 32px;
  width: 100%;
}

.final-call-to-action .button {
  border: 2px solid #f9faf8;
  text-wrap: nowrap;
}

/* Footer */
footer {
  align-items: center;
  height: 100px;
}
